* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    max-width: 710px;
    margin: 0 auto;
    grid-template-areas: "header header header header"
        "section section section section"
}

header {
    grid-area: header;
    height: 352px;
    background-image: url("images/beach3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header h1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: rgba(255, 255, 0, 0.523);
    padding: 10px 100px 10px 10px;
}

.item h2 {
    margin: 15px 0;
}

img {
    width: 100%;
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}